[Unit]
Description=wordstrike.me

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/home/wordstrike.me/product/app-run-serve.sh
Restart=always
RestartSec=10
KillMode=control-group

[Install]
WantedBy=multi-user.target