.rgm-state-text {
  font-size: 2em;
  text-align: center;

  color: #6c6c6c;

  animation-name: fade;
  animation-delay: .2s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}


.rgm-link {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1.5px;
  text-decoration-color: rgba(56, 134, 203, 0.7);
  text-underline-offset: 0.3em;
}

.rgm-link-soft {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: rgb(56, 134, 203);
  text-underline-offset: 0.3em;
}


/* Можно самому устроить scroll-area */
.scroll-area {
  position: absolute;
  height: calc(100%);
  width: 100%;
  _border: dotted red 1px;
  overflow: scroll;
}


/* Фикс для q-scroll-area, без него получается нулевой размер */
.q-scroll-area {
  position: absolute !important;
  height: calc(100%);
  width: 100%;
}


.justify-center {
  justify-content: center;
}


/* Контейнер, прижатый к низу экрана, например: кнопки выбора периода в статистике */
.bottom-buttons {
  position: fixed;
  bottom: 0.2rem;

  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}
