.rgm-state-text {
  font-size: 3em;
  text-align: center;

  color: #6c6c6c;

  animation-name: fade;
  animation-delay: .2s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}


.rgm-link-soft {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: rgb(56 134 203);
  text-underline-offset: 0.3em;
}


/* Можно самому устроить scroll-area */
.scroll-area {
  position: absolute;
  height: calc(100%);
  width: 100%;
  _border: dotted red 1px;
  overflow: scroll;
}


/* Фикс для q-scroll-area, без него получается нулевой размер */
.q-scroll-area {
  position: absolute !important;
  height: calc(100%);
  width: 100%;
}
