.rgm-state-text {
  font-size: 2em;
  text-align: center;

  color: #6c6c6c;

  animation-name: fade;
  animation-delay: .2s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}


.rgm-link {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1.5px;
  text-decoration-color: rgba(56, 134, 203, 0.7);
  text-underline-offset: 0.3em;
}

.rgm-link-soft {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: rgb(56, 134, 203);
  text-underline-offset: 0.3em;
}


/* Можно самому устроить scroll-area */
.scroll-area {
  position: absolute;
  height: calc(100%);
  width: 100%;
  _border: dotted red 1px;
  overflow: scroll;
}


/* Фикс для q-scroll-area, без него получается нулевой размер */
.q-scroll-area {
  position: absolute !important;
  height: calc(100%);
  width: 100%;
}


.justify-center {
  justify-content: center;
}


/* Контейнер, прижатый к низу экрана, например: кнопки выбора периода в статистике */
.bottom-buttons {
  position: fixed;
  bottom: 0.2rem;

  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}


.btn-add {
  font-size: 1.2em;
  height: 3.0rem;
  min-width: 15rem;
}

.btn-add-submenu {
  font-size: 1.2em;
  height: 3.5rem !important;
  left: 0.4em;
}

/* Кнопка внутри списка */
.item-list-bitton {
  font-size: 1rem;
}

/* Первый элемент списка */
.item-first {
  border-top: 1px solid #c0c0c050;
}

/* НЕ первый элемент списка */
.item-next {
  padding-top: 0;
}


/* План в списке */
.plan-text {
}

.plan-info {
  font-size: 0.9em;
  color: gray;
}


/* bage */
.rgm-bage {
  font-weight: bold !important;
}

/* Элемент статистики */
.statistic-type-learned {
  color: #109010 !important;
}

.statistic-type-learned-all {
  background-color: rgba(16, 144, 16, 0.2) !important;
}

.statistic-type-repeated {
  color: #008080 !important;
}

.statistic-type-rating {
  color: #003090 !important;
}

.statistic-type-rating-bage {
  color: white !important;
  background-color: rgba(0, 48, 144, 0.8) !important;
}

.result-rating-inc {
  color: #003090 !important;
}

.result-rating-dec {
  color: #a00020 !important;
}


.statistic-type-learned-no-total {
  background-color: #10901010 !important;
}

.statistic-type-repeated-no-total {
  background-color: #00808010 !important;
}


/* Help */

.help-br {
  line-height: 0.3;
}

.help-text {
  font-size: 1.3em;
}

.help-text img {
  vertical-align: middle;
  background-color: rgba(97, 97, 97, 0.2);
  padding: 0.1em;
  border-radius: 0.5em;
  width: 1.5em;
  height: 1.5em;
}
