?
?.bat
*.log
*.tmp
*.iws
*.iml
*.ipr
temp
temp.*
out
Thumbs.db
_jc
_gen
_notuse
_app.cfx
_cfg.cfx
_logback.xml
node_modules
.idea*
/app-run.bat
/app-run.sh
/dataSources
.ideaDataSources
*.mp3