?
?.bat
*.log
*.tmp
*.iws
*.iml
*.ipr
temp
out

/node_modules
/.idea*
/dataSources

_jc
_gen
_notuse

/_app.cfx
/_cfg.cfx
/_logback.xml
/app-run.bat
/app-run.sh
/data/tessdata/*
*.mp3
*.drawio.bkp